# Inventory assessment
*This notebook illustrates how to assess the inventory position of a storage system.
*Use the virtual environment logproj.yml to run this notebook.*
***
Alessandro Tufano 2020

### Import packages

In [1]:
# %% append functions path
import sys; sys.path.insert(0, '..') #add the above level with the package

import pandas as pd
import numpy as np

from IPython.display import display, HTML #display dataframe

#import utilities
from logproj.utilities import creaCartella

### Set data fields

In [2]:
string_casestudy = 'TOY_DATA'

### Import data

In [3]:
# %% import data
from logproj.data_generator_warehouse import generateWarehouseData
D_locations, D_SKUs, D_movements, D_inventory = generateWarehouseData()

In [4]:
#print locations dataframe
display(HTML(D_locations.head().to_html()))

In [5]:
#print SKUs master file dataframe
display(HTML(D_SKUs.head().to_html()))

In [6]:
#print SKUs master file dataframe
display(HTML(D_movements.head().to_html()))

In [7]:
#print SKUs master file dataframe
display(HTML(D_inventory.head().to_html()))

### Create folder hierarchy

In [8]:
# %% create folder hierarchy
pathResults = 'C:\\Users\\aletu\\desktop'
_, root_path = creaCartella(pathResults,f"{string_casestudy}_results")
_, path_results = creaCartella(root_path,f"P8_warehouseAssessment")

Cartella TOY_DATA_results gi√† esistente